body{
    height:505px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/236x/42/c1/1a/42c11aa2fb74660e5f617aee8bc9d45a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
  }
  .button-1, .button-2{
    background-color: #f2a3b3;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    align-items: center;
    border: 0;
    border-radius: 8px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
  }
  .excluir {
    background-color: #f2a3b3;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    max-width: 100px;
    height: 50%;
    min-width: 100px;
    align-items: center;
    border: 0;
    border-radius: 8px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
  }
  a{
    color: white;
    align-items: center;
    border: 0;
    border-radius: 8px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    padding: 3px;
    text-decoration: none;
  }
  .button-1 span, .button-2 span {
    background-color: #f2a3b3;
    color: white;
    padding: 10px 23px;
    border-radius: 6px;
    width: 55%;
    height: 50%;
    transition: 300ms;
    text-align: center;
  }
  p{
    color: #f2a3b3;
  }