body{
  height:505px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://assets.stickpng.com/images/58b8352515d8273a5cab2f6f.png");
    background-repeat: no-repeat;
    background-size:contain;
    padding: 10%;
}
form{
  background-color: #f2a3b3;
  color: white;
  padding:20px 20px;
  width: 250px;
  height: 350px;
  margin-left: 40%;
  border: 2px solid white;
  align-items: center;
  text-align: center;
}
input{
padding: 15px 30px;
  margin-left: 15px;
  border-radius: 10px;
  color: #f2a3b3;
  border: 2px solid #f2a3b3;
  transition: border-color 0.3s;
}
h1{
  text-align: center;
  color: white;
}
.button-1 {
  padding: 10px 23px;
  margin-left: 15px;
  align-items: center;
  border: 0;
  border-radius: 8px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100px;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
}


.button-1 span {
  background-color: #f2a3b3;
  color: white;
  padding: 10px 23px;
  border-radius: 6px;
  width: 50%;
  height: 50%;
  transition: 300ms;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
}
.button-2 {
 
  margin-left: 54%;
  align-items: center;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100px;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
}


.button-2 span {
  color: white;
  background-color: #f2a3b3;
  padding: 10px 23px;
  border-radius: 6px;
  width: 50%;
  height: 50%;
  transition: 300ms;
  text-align: center;

}


